@charset "utf-8";

@import "compass";


$color-text: #aaa;
$color-bg  : #f1f1ee;
$color-link: #c8acea;

$z-index-front: 100;


@function calc-height($height, $line-height, $font-size) {
  @return $height - ($line-height / 2 - $font-size / 2);
}


::selection {
  color: #fff;
  background-color: #a7daeb;
}

html {
  // -webkit-font-smoothing: subpixel-antialiased;
  color: $color-text;
  background-color: $color-bg;
}

body {
  /*font-family: "YuGo", sans-serif;*/
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic Pro", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 1em 0;
  font-size: 16px;
}

p {
  margin: 0 0 1em;
}

img {
  vertical-align: top;
}

hr {
  height: 1px;
  margin:1em 0;
  background-color: #fff;
  border: none;
}

// pre {
//   position: relative;
//   padding: 2px 0;
//   color: #fff;
//   background-color: #a7daeb;
// }

// pre a {
//   color: #fffe9d;
// }

/*pre code:before {
  content: "</>";
  position: absolute;
  top: 6px;
  right: 100%;
  margin-right: 10px;
  color: #fff;
  font-family: "Kozuka Gothic Pro", sans-serif;
  font-size: 20px;
  line-height: 1;
}
*/

.index {
  transition: background-color .2s;
  // border-radius: 5px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  background-color: #a9daea;

  &:hover {
    background-color: tint(#a9daea, 20%);
  }
  /*border: 1px solid #000;*/
}


.header {
  position: relative;
  z-index: 100;
  margin: 0 0 40px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 40px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  line-height: 1;

  a {
    display: block;
    padding: 130px 0 45px;
    color: #f1f1ee;
  }
}

.context {
  margin: 20px 0 0;
}

/*.articles {
  margin-bottom: 150px;
}
*/
article {
  position: relative;
  z-index: 1;
  width: 720px;
  margin: 0 auto 150px;
  padding: 0 40px;
}

.article-title {
  display: inline-block;
  margin: 0 0 20px;
  font-family: "Kozuka Gothic Pro", sans-serif;
  line-height: 1;
  font-size: 20px;
  font-weight: 200;

  a {
    color: $color-text;

    &:empty:before {
      content: "-";//"No Title";
      color: rgba($color-text, .5);
    }
  }
}


.date-sign {
  position: absolute;
  top: 0;
  right: 100%;
  /*width: 100px;*/
  /*margin: 0 15px 0 0;*/
  // text-align: center;
  font-family: "Kozuka Gothic Pro", sans-serif;
  font-weight: 200;
  color: #fff;

  /*font-family: "Helvetica Neue";*/
  font-size: 20px;
  line-height: 1;
}


.article-body {
  overflow: hidden;
  /*-webkit-columns: 2;*/
  /*column-width: 400px;*/
  /*margin: 16px 0;*/
  /*font-family: "Kozuka Gothic Pro", sans-serif;*/
  font-weight: 300;
  line-height: 2;
  text-align: justify;

  h1 {

  }

  h2 {

  }

  p:first-letter {
    margin-left: 1em;
  }

  img {
    // max-width: 700px;
    border-radius: 5px;
    padding: 8px;
    background-color: rgba(#fff, .5);
    // border: 1px solid #fff;
  }
}

.clouds {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
}

.cloud-layer {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
}

.cloud {
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
}

.cloud-block {
  position: absolute;
  background-color: #fff;
}


.forest-layer {
  position: absolute;
  /*overflow-y: hidden;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

.forest {
  position: absolute;
}

.tree {
  position: absolute;
  width: 0;
  height: 0;
  border-top-width: 0;
  border-color: #9fe0b4 transparent;
    border-style: solid;
}


.lake-layer {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

.lake {
  position: absolute;
}

.water {
  position: absolute;
  background-color: #a7dbec;
}


.rain {
  position: absolute;

  background: -webkit-linear-gradient(top,  rgba(167,218,235,1) 0%,rgba(167,218,235,0) 100%);
  background: linear-gradient(to bottom,  rgba(167,218,235,1) 0%,rgba(167,218,235,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7daeb', endColorstr='#00a7daeb',GradientType=0 ); /* IE6-9 */
}


.relation {
  // $width: 720px + 40 * 2;
  position: relative;
  z-index: 100;
  // width: $width - (30px * 2 + 34 * 10 + 2);
  margin: 0 -20px;// 48px * 2;
  padding: 25px 0 0;
  text-align: center;
  // padding: 25px ($width - (30px * 2 + 34 * 10 - 2)) / 2 0;
  border-top: 1px solid rgba(#fff, .33);
}

// .relation-wrapper {
//   margin: 0 auto;
//   width: 30px * 2 + 34 * 10 - 2;
// }

.pagination {
  $addthis-width: 48px;

  position: relative;
  z-index: $z-index-front;
  // margin: 0 $addthis-width * 2;
  // padding: 100px 0 0;
  margin: 100px 0 0;
  text-align: center;
  // border-top: 1px solid rgba(#fff, .33);

  // display: inline-block;
  // width: 30px * 2;

  .prev,
  .next {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;

    a {
      display: inline-block;
      padding: 5px;

      &:hover {
        border-radius: 5px;
        background-color: rgba(#fff, .5);
      }
    }
  }
}

.page-count {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 30px + 10;
  line-height: 30px;
}


.reaction {
  display: inline-block;
  width: 34px * 10 - 2;
  vertical-align: top;
}

%reaction-item {
  transition: background-color .2s;
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  vertical-align: top;
}

.date {
  @extend %reaction-item;

  &:hover {
    border-radius: 5px;
    background-color: rgba(#fff, .5);
    cursor: pointer;
  }
}

.note-count {
  @extend %reaction-item;

  &:hover {
    border-radius: 5px;
    background-color: rgba(#fff, .5);
    cursor: pointer;
  }
}

.users {
  display: none; // tmp;
  margin: 28px / 2 - 16px / 2 - 1 -1px -1px -1px;
  padding: 0;

  li {
    display: inline-block;
    padding: 1px;
  }

  img {
    border-radius: 5px;
    // border: 1px solid #f5f5f5;
  }
}

.tags {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0;

  li {
    display: inline;

    + li a {
      margin-left: 4px;
    }
  }
}

.day,
.tag {
  @extend %reaction-item;
  border-radius: 5px;
  margin: 0;
  background-color: rgba(#fff, .5);

  img {
    vertical-align: middle;
  }
}

a.tag:hover {
  text-decoration: none;
  background-color: rgba(#fff, .75);
}

.close {
  border-radius: 5px;
  display: inline-block;
  margin:  0 0 0 2px;
  padding: 28px / 2 - 14 / 2;
  line-height: 14px;
  // border-left: 1px solid $color-link;

  &:hover {
    background-color: rgba(#fff, .5);
  }
}


footer {
  overflow: hidden;
  padding-top: 150px;
}

footer a {
  color: #a3dc85;
}

.surface {
  position: relative;
  padding: 30px;
  font-size: 14px;
  color: #bbb;
  background-color: #fff;
}

.wrapper {
  position: relative;
  z-index: 100;
  width: 480px;
  margin: 0 auto;
}

figure {
  text-align: center;
  line-height: 1;
}

figcaption {
  font-size: 12px;
}

footer blockquote {
  margin: 0 0 15px;
}

.appendix {
  margin-top: 20px;
  padding: 20px 90px 10px;
  border: 1px solid rgba(215, 215, 215, .25);
  border-left: none;
  border-right: none;
}

.links {
  margin: 8px 0;
  padding: 0 10px;
  line-height: 20px;

  li {
    display: inline-block;

    + li {
      margin-left: 10px;
      padding-left: 10px;

    }
  }
}

// .buttons {
//   display: inline-block;
//   margin: 0;
//   padding: 0 0 0 4px;

//   li {
//     display: inline;
//     // margin: 0 10px;
//   }
// }

.profile-container {
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
  margin-left: 54px;
}

.profile-icon {
  position: absolute;
  left: 0;
  border-radius: 8px;
  border: 2px solid #f5f5f5;
}

.copyright {
  margin: 20px 0 8px;
  line-height: 1;
}

.services {
  margin: 0;
  padding: 0 18px;
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

// .services li {
// }


.search {
  // display: inline-block;
  text-align: center;
  font-size: 0;
}

.search input[type="text"] {
  -webkit-appearance: none;
  border-radius: 0;
  width: 245px;
  height: 24px;
  padding: 0 4px;
  font-size: 12px;
  color: #555;
  line-height: 18px;
  border: 1px solid #f1f1ee;
  border-right: none;
  outline: none;
}

.search button {
  transition: background-color .2s;
  margin: 0;
  padding: 5px 15px;
  vertical-align: top;
  background-color: #f1f1ee;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;

  &:hover {
    background-color: shade(#f1f1ee, 5%);
  }
}

.search img {
  vertical-align: middle;
}


.feedly {
  border-radius: 5px;
  padding: 3px;
  background-color: #f1f1ee;
}


.gist {
  font-size: 12px;
}


.twitter-tweet {
  margin: 1em auto !important;
}



// デフォルトを上書き
.photoset {
  display: block;
  width: 700px;
  margin: 0 auto;
}

.notes {
  display: none; // JS
  position: absolute;
  margin: 28px / 2 - 16px / 2 - 1 + 10 -1px -1px -1px;
  padding: 0;

  li {
    display: inline-block;
    padding: 1px;
  }

  blockquote {
    display: none;
  }

  .avatar_frame {
    transition: opacity .2s;
    &:hover {
      opacity: .5;
    }
  }

  img {
    border-radius: 5px;
    width: 32px;
    height: 32px;
  }

  .action {
    display: none;
  }

  .more_notes_link {
    transition: background-color .2s;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    width: 32px;
    height: 32px;
    text-indent: -999px;
    vertical-align: top;
    background: image-url("more.png") no-repeat center;
    background-size: 24px;

    &:hover {
      border-radius: 5px;
      background-color: rgba(#fff, .5);
      cursor: pointer;
    }
  }

  .notes_loading {
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    width: 32px;
    height: 32px;
    // margin-left: 2px;
    text-indent: -999px;
    vertical-align: top;
    background-color: rgba(#fff, .5);
    -webkit-animation: scaleout 0.6s infinite ease-in-out;
    animation: scaleout 0.6s infinite ease-in-out;
  }
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
