<div class="cloud size-<?size?>">
	<?#rain?><div class="rain" style="left:<?left?>px; top:<?top?>px; width:<?width?>px; height:<?height?>px;"></div><?/rain?>
	<?#items?>
		<div class="cloud-block" style="left:<?left?>px; top:<?top?>px; width:<?width?>px; height:<?height?>px;"></div>
	<?/items?>
</div>
