<div class="forest">
	<?#items?>
		<div class="tree" style="left:<?left?>px; top:<?top?>px; border-bottom-width:<?width?>px; border-left-width:<?height?>px; border-right-width:<?height?>px;"></div>
	<?/items?>
</div>
